body{
    background-color: #202020!important;
    color: #f5f5f5!important;
}
.bg-dark{
    background-color: #252525!important;
}
.navbar-brand{
    max-width: 300px;
}
.main{
    margin-top: 20px;
}
.slide{
    border-radius: 10px;
    background-color: #202020;
    overflow: hidden;
}
.sidebar{

    padding: 10px;
}
.post{
    background-color: #393939;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
}
.post h3{
    margin-top: 10px;
    font-size: 20px;
    text-align: left;
}
.post p{
    text-align: left;
}
.post button{
    padding: 5px;
    margin-bottom: 10px;
}

.post-img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}
.post-img:hover{
    transform: scale(1.05);
}
.homepage h1{
    font-size: 30px;
    text-align: center;
}
.homepage h2{
    font-size: 25px;
    text-align: center;
}
.pagination{
    margin-top: 20px;
}

footer{
    margin-top: 30px;
    background-color: #252525;
    padding: 10px;
}
footer img{
    margin-top: 20px;
}
footer p{
    margin-top: 5px;
}


.card-body h4{
    font-size: 18px;
}
.card img{
    height: 100%;
    object-fit: cover;
}

.populars{
    margin-top: 20px;
}

.search {
    position: relative;
    width: 100%;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 20px;
    border: 2px solid #d6d4d4;    
}

.search input:focus {
    box-shadow: none;
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
}
.labelul{
    margin: 0px !important;
    padding: 0px !important;
    list-style: none;
}
.labelli{
    float: left;
    padding: 2px;
    margin: 0px;
}
.postcol{
    background-color: #252525;
    border-radius: 10px;
    height: 200px;
}
.posttitle{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.date{
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
}